.no-webp .inicio{
    background-image: url(/build/img/header.jpg);
}
.webp .inicio{
    background-image: url(/build/img/header.webp);
}
.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
        //alinear en vertical y horizontal
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 60rem;
        }
        //Colocamos el mq aqui para que los demas header
        //no tomen tanta altura
        .header-content{
            @include tablet {
                min-height: 60rem;
            }
        }
    }
}

//Debido a que esta en un contenedor diferente debemos
//colocar de nuevo el min-height
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;//Puede generar saltos de linea en los textos
    }
}